@model IEnumerable<Book>


    <div>
        <table>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Price</th>
            </tr>
    
                @foreach(var book in @Model)
                {
                    <tr>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@book.Genre</td>
                        <td>Rs.@book.Price</td>
                    </tr>
                }
    </table>

</div>