@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-center text-danger">


    @(Model.Message == null || Model.Message.Length <= 0 ? "An error occurred while processing your request." : Model.Message)

</h2>